// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;


// RESPONSIVE BREAKPOINTS
// from 800px, can check each "100px" and see if design is ok.
$bp-largest: 75em;  // 1200px / 16px = 75
$bp-large: 62.5em;  // 1000px / 16px = 62.5
$bp-medium: 50em;  // 800px / 16px = 50
$bp-small: 37.5em;  // 600px / 16px = 37.5


*,
*::before,
*::after {
  margin: 0;
  padding: 0; 
  box-sizing: inherit;  // inherit from html below
} 

html {
  box-sizing: border-box;
  font-size: 62.5%;  // 10px/16px = 62.5% -> 1rem = 10px

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;  // 10px/8px = 50%  -> 1rem = 8px
  }
}


body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);

 
  // 8 COLUMN LAYOUT
  // grid-template-columns: repeat(8, 1fr);   
  // grid-template-columns: repeat(8, 14rem);   // 1140px/8 col = 142.5px or around 14rem

    // min is the content, max can be 14rem. layout can adjust.
    // 8rem - added a 9th column (for the sidebar)
  // grid-template-columns: 8rem repeat(8, minmax(min-content, 14rem));  

    // added 2 1fr, so that they can expand/shrink according to the viewport size
    // if we do not have the "sidebar", we could consider using "margin 0 auto" to center the items
  // grid-template-columns: 8rem 1fr repeat(8, minmax(min-content, 14rem)) 1fr; 
  // grid-template-columns: 
    // [sidebar-start] 8rem [sidebar-end full-start] 
    // 1fr [center-start] 
    // repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) 
    // [center-end] 1fr [full-end]; 

    // minmax(6rem, 1fr) - we want a margin of minimum 6rem between certain pages   
    grid-template-columns: 
      [sidebar-start] 8rem [sidebar-end full-start] 
      minmax(6rem, 1fr) [center-start] 
      repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) 
      [center-end] minmax(6rem, 1fr) [full-end];

      

    // TESTING PURPOSES - WILL BE REMOVED
    // & > * {  // all the direct children
      // padding: 40px;
      // font-size: 3rem;
    // }



    // we named the columns and rows for Media Queries - so that we don't need to rewrite everything

    @media only screen and (max-width: $bp-large) {
      // grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
      grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);  // 6rem - add a new row for "Sidebar

      grid-template-columns: 
      [full-start]   // remove 1st column "[sidebar-start] 8rem [sidebar-end]
      minmax(6rem, 1fr) [center-start] 
      repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) 
      [center-end] minmax(6rem, 1fr) [full-end];
    }


    @media only screen and (max-width: $bp-medium) {
      // grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);  

      // calc(100vh - 6rem) - the 6rem is the sidebar at the top
      // grid-template-rows: 6rem calc(100vh - 6rem) min-content min-content 40vw repeat(3, min-content);  
      // grid-template-rows: 6rem calc(100vh - 6rem) min-content min-content min-content repeat(3, min-content);  

      // can get rid of " min-content min-content min-content repeat(3, min-content);"
      // as the "automatic algorithm" will take care of this (implicit grid), which its' size will now be based on the content
      grid-template-rows: 6rem calc(100vh - 6rem);
    }
}